* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../public/img/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}